.Nav-bar {
    width: 30vh;
    height: 100vh;
    background: #dfc19a;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
}

.Nav-bar button {
    padding: 20px 8px;    
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1.8px;
    cursor: pointer;
    outline: none;
    background: #cea583;
    cursor: pointer;
}

.current {
    margin-top: 20vh;
}